In [2]:
d = {'alice': 'cooper', 'bob': 'marley'}
a = ['peter', 'paul', 'mary', 'bob']

In [4]:
print(d['bob'])

marley

In [6]:
print(a[0])

peter

In [7]:
print(d[a[3]])

marley

In [8]:
s = 'I want to '
t = 'ride my bicycle'

In [9]:
s[2]

'w'

In [10]:
'y' in t

True

In [11]:
(s + t)[7:10]

'to '

In [12]:
t.count('y')

2

In [19]:
t.index('y')

6

In [20]:
def rewrite(firstname, middle_initial, lastname):
    """Neatly formats the first, middle initial and last name into a string"""
    return firstname + " " + middle_initial + ". " + lastname

In [56]:
print(rewrite('Peter', '', 'Swanson'))

Peter Swanson

In [23]:
def rewrite(firstname, middle_initial, lastname):
    """Neatly formats the first, middle initial and last name into a string.
       The middle initial may be empty."""
    if middle_initial == "":
        return firstname + " " + lastname
    else:
        return firstname + " " + middle_initial + ". " + lastname

In [26]:
rewrite('Peter', 'M', 'Swanson')

'Peter M. Swanson'

In [28]:
result = False
for s in ['red', 'blue', 'orange']:
    if s == 'blue':
        result = True
print(result)

True

In [36]:
def make_positive(a):
    for i in range(1, 6, -1):
        if a[i] < 0:1
            a[i] = -a[i]
        return a
print(make_positive([-3, 1, -2, 5, -3]))

[3, 1, -2, 5, -3]

In [55]:
rangeb

In [69]:
def count_small(l):
    counter = 0
    for number in l:
        if number >= 1:
            counter += 1
        if number >= 100:
            counter -= 1
    return counter
count_small([-1, 10, 1, 100, 200, 20, 10])

5